h2{
	text-align:center;
	color:#060;
}

p{
	text-align:justify;
}

table{
	font-size:18px;
}

tr:nth-child(odd){
	background:#ccc;
}

th{
	text-align:left;
}



#employeeDetails {
	padding: 8px;
	padding-bottom: 0px;
    width:100%;
}

#employeeDetails img {
	float: left;
	margin-right: 8px;
    height: 100px;
    vertical-align: top;
}

h3 {
    font-size: 16px;
    margin-top:8px;

}

#employeePic {
    margin-bottom:100px;

}
.emailuser {

	font-size: 14px!important;
	font-weight: bold;
}


